
/****************************************************************** Navigator ******************************************************************/

#dinglj-v-navigator {
    --padding: 5px;
    max-width: 200px;
    min-width: 180px;
    height: calc(100% - var(--padding) * 2);
    padding: var(--padding);
    flex: 1;
    border: 5px;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
}

.dinglj-v-navigator-item {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 5px 0;
    margin: 5px 0;
    transition: var(--transition);
    transition-timing-function: var(--timing-fun);
    text-indent: 5px;
    border-radius: var(--radius);
    overflow: hidden;
}

.dinglj-v-navigator-item:not(.active):hover {
    background: rgb(219, 219, 219);
}

.dinglj-v-navigator-item.active {
    text-indent: 15px;
    color: white;
    font-weight: bold;
}

.dinglj-v-navigator-item::before {
    transition: var(--transition);
    transition-timing-function: var(--timing-fun);
    content: '';
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    background: var(--theme-color);
    z-index: -1;
}

.dinglj-v-navigator-item.active::before {
    width: 100%;
}

.dinglj-v-navigator-item::after {
    transition: var(--transition);
    transition-timing-function: var(--timing-fun);
    content: '';
    position: absolute;
    width: 0px;
    height: 70%;
    top: 15%;
    left: 5px;
    background: white;
}

.dinglj-v-navigator-item.active::after {
    width: 3px;
}

/****************************************************************** Column Scroll ******************************************************************/

.dinglj-v-column-scroll {
    transition: var(--transition);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.dinglj-v-column-scroll > * {
    flex: 1;
}

/****************************************************************** Navigator View ******************************************************************/

.dinglj-v-navigator-view {
    --padding: 5px;
    padding: var(--padding);
    width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
    display: flex;
    overflow: hidden;
}

.dinglj-v-navigator-right {
    --padding: 5px;
    height: calc(100% - var(--padding) * 2);
    padding: var(--padding);
    flex: 1;
    overflow: hidden;
    border: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
}

.dinglj-v-navigator-content {
    flex: 1;
    overflow: hidden;
}

/****************************************************************** TabPanel ******************************************************************/

.dinglj-v-tab-panel {
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dinglj-v-tabpanel-item {
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.dinglj-v-tabpanel-view {
    flex: 1;
    overflow: hidden;
}

.dinglj-v-tabpanel-item.active {
    font-weight: bolder;
    color: var(--theme-color);
}

.dinglj-v-tabpanel-title {
    position: relative;
    padding-bottom: 13px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dinglj-v-tab-float {
    position: absolute;
    height: 3px;
    width: 0px;
    background: var(--theme-color);
    bottom: 8px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

/****************************************************************** Row Scroll ******************************************************************/

.dinglj-v-row-scroll {
    transition: var(--transition);
    transition-timing-function: var(--timing-fun);
    position: relative;
    height: 100%;
    overflow-y: hidden;
    display: flex;
}

.dinglj-v-row-scroll > * {
    flex: 1;
}

/****************************************************************** TabPanel View ******************************************************************/

.dinglj-v-tab-panel-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/****************************************************************** Table ******************************************************************/

.dinglj-v-tr {
    display: flex;
}

.dinglj-v-tr .dinglj-v-cell {
    padding: 0 5px;
    user-select: none;
    border-left: 1px solid rgba(0,0,0,0.05);
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dinglj-v-tr * {
    line-height: 34px;
}

.dinglj-v-tr .dinglj-v-cell:nth-child(1) {
    border-left: none;
}

.dinglj-v-tbody .dinglj-v-tr:nth-child(even) {
    background: #dbe3eb;
}

.dinglj-v-tbody .dinglj-v-tr:hover {
    background: #a0c5e8;
}

.dinglj-v-tbody {
    flex: 1;
    overflow: scroll;
}

.dinglj-v-table {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dinglj-v-thead {
    margin-right: var(--scrollbar-width);
    background: var(--title-color);
    color: white;
    font-weight: bold;
    text-align: center;
}

.dinglj-v-table-select {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

.dinglj-v-table-sequence {
    min-width: 40px;
    max-width: 40px;
    text-align: center;
}

.dinglj-v-thead .dinglj-v-table-select input {
    transform: translate(-7px,2px);
}

.dinglj-v-cell.fixed {
    min-width: 5%;
    max-width: 10%;
}