:root {
    --out-padding: 5px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

#main {
    height: calc(100% - var(--out-padding) * 2);
    overflow: hidden;
    padding: var(--out-padding);
    flex: 1;
}

#dinglj-main {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#right-view {
    --padding: 10px;
    margin-left: 10px;
    overflow: hidden;
    width: 100%;
    height: calc(100% - var(--padding) * 2);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px -3px grey;
    border-radius: 5px;
    padding: var(--padding);
}

.result-view {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.dinglj-v-tbody .dinglj-v-cell.id {
    cursor: pointer;
    font-weight: bold;
    color: var(--theme-color);
}

.dinglj-v-cell {
    text-align: center;
}

.dinglj-v-tbody .dinglj-v-cell.summary {
    text-align: left;
}

#ticket-list-filter {
    margin-top: 10px;
}

#ticket-list-filter * {
    font-size: 12px;
}

.filter-row .filter-contrl {
    margin-left: 10px;
}

.filter-row .filter-contrl:first-child {
    margin-left: 0;
}

.ticket-list-new-ticket,
.ticket-list-top-ticket {
    display: inline-block;
    background: var(--theme-color);
    color: white;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    vertical-align: middle;
    padding: 0px 4px;
    margin-right: 5px;
    font-weight: bolder;
    border-radius: 4px;
    font-family: consolas;
}

.ticket-list-top-ticket {
    background: rgb(251, 128, 56);
}

.ticket-modal-id {
    cursor: pointer;
    color: var(--theme-color);
    display: inline-block;
    margin-right: 5px;
}

.dinglj-v-input.textarea {
    margin-top: 20px;
}

.ticket-field,
.ticket-field * {
    display: inline-block;
}

.ticket-field {
    width: 25%;
    height: 24px;
    line-height: 24px;
    position: relative;
}

.ticket-field .key,
.ticket-field .value {
    width: 50%;
}

.ticket-field .value {
    font-weight: bold;
}

.ticket-field .key.is-null,
.ticket-field .value.is-null {
    color: rgb(200,200,200);
}

.ticket-modal-content {
    height: 95%;
    display: flex;
    flex-direction: column;
}

.edit-ticket-note {
    flex: 1;
}

.ticket-modal-content-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.ticket-modal-content-grid-item {
    display: flex;
}

.ticket-modal-content-grid-item div:nth-child(1) {
    font-weight: bold;
    padding: 0 5px;
    color: rgb(187, 187, 187);
}

.ticket-modal-content-grid-item.active div:nth-child(1) {
    color: black;
}

.ticket-modal-content-grid-item div:nth-child(2) {
    flex: 1;
    color: rgb(187, 187, 187);
}

.ticket-modal-content-grid-item.active div:nth-child(2) {
    color: rgb(17, 134, 244);
    font-weight: bold;
}